* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #FFFFE2;
}

div::-webkit-scrollbar , body::-webkit-scrollbar , .sidebar::-webkit-scrollbar{
  width: 2px;
}

div::-webkit-scrollbar:horizontal , body::-webkit-scrollbar:horizontal , .sidebar::-webkit-scrollbar:horizontal{
  height: 4px;
}
div::-webkit-scrollbar-thumb , body::-webkit-scrollbar-thumb , .sidebar::-webkit-scrollbar-thumb{
  background-color: red;
  border-radius: 20px;
  border: 2px solid #000;
}

.bgLogin{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.opa{
  opacity: 90%;
}

.icon-sidebar{
  margin-right: 30px;
}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.5em;
  border-bottom: 1px solid #250001;
  background-color: #250001;
}
header a, header a:hover{
  text-decoration: none;
  color: #FFFFE2;
}
header .menu a{
  text-decoration: none;
  font-size: 1.5em;
  color: #FFFFE2;
}
header .menu span{
  font-size: 1.5em;
  margin-left: 1.5em;
  color: #FFFFE2;
}
header .dropdown span{
  cursor: pointer;
  margin-left: 1em;
}

/* Sidebar ===========================================*/
.sidebar{
  padding-top: 3.29em;
  top: 0;
  left: 0;
  width: 17%;
  height: 100vh;
  background-color: #250001;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s ease-out;
}
.sidebar .info .img_info{
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 15%;
  width: 10em;
  height: 9.7em;
  border-radius: 50%;
  transition: 0.3s ease-out;
}
.sidebar .info .text_info>h5{
  text-align: center;
  padding-bottom: 10%;
  margin-bottom: 0px;
  color: #FFFFE2;
}
.sidebar .menu{
  padding-left: 0;
  width: 100%;
}

.sidebar .menu .item-menu{
  cursor: pointer;
  position: relative;
}
.sidebar .menu .item-menu a{
  text-decoration: none;
  padding: 0.8em;
  color: #FFFFE2;
  display: block;
}
.sidebar .menu .item-menu a:hover{
  border-left: 3px solid #762B00;
  background-color: #FFA93B;
}
.sidebar .menu .selected{
  border-left: 3px solid #762B00;
  background-color: #FFA93B;
}
.sidebar .menu .item-menu a .ico-submenu{
  position: absolute;
  margin: 2%;
  margin-left: 10%;
}
.sidebar .menu .item-menu .submenu{
  background-color:  rgb(118, 43, 0,0.3);
  display: none;
}
.sidebar .menu .item-menu .submenu li{
  text-decoration: none;
  color: #FFFFE2;
  display: block;
  padding: 0.5em;
  margin: 2%;
}
.sidebar .menu .item-menu .submenu a{
  padding-left: 10%;
}
.submenu.hide {
  display: block !important;
  transition: 0.3s ease-out;
}
.rotate{
  transform: rotate(90deg);
}
/* fin sidebar =========================================== */

main{
  margin-top: 5px;
  margin-left: 17%;
  transition: margin-left 0.3s;
  padding: 20px;
}

.bgDark{
  background-color: #250001;
  color: #FFFFE2;
}
.bgLight{
  background-color: #FFA93B;
  color: #FFFFE2;
}
.bgCenter{
  background-color: #762B00;
  color: #FFFFE2;
}
.no-sold{
  color: #762B00;
}